<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- render 'section-variables', section: section -%};
  }

  .anray-banner2 {
    display: flex;
    align-items: center;
    background-color: #e8d7c9;
    overflow: hidden;
  }

  .anray-banner2-content {
    flex: 1;
    padding: 25px;
    padding-left: 10vw;
    padding-right: 5vw;
    max-width: 760px;
  }

  .anray-banner2-title {
    font-size: 48px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
  }

  .anray-banner2-description {
    font-size: 16px;
    line-height: 1.5;
    color: #000;
  }

  .anray-banner2-image {
    flex: 1;
    /* 控制容器的整体高度 */
    height: 70vh;
    overflow: hidden;
  }

  .anray-banner2-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 768px) {
    .anray-banner2-banner {
      flex-direction: column;
      border-radius: 2rem;
    }

    .anray-banner2-content {
      padding: 30px;
    }

    .anray-banner2-image {
      width: 100%;
      height: 100%;
      display: flex;
    }
  }
</style>

<div
  class="section section--padding {% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}"
  {% if section.settings.transparent_header %}
    allow-transparent-header
  {% endif %}
>
  <div class="{% unless section.settings.full_width %}page-width {% endunless %} relative">
    <!-- 内容区域 -->
    <div class="anray-banner2">
      <div class="anray-banner2-content">
        <h2 class="anray-banner2-title">banner2</h2>
        <p class="anray-banner2-description">We're sharing some of our favorite recipes—from our kitchen to yours.</p>
      </div>
      <div class="anray-banner2-image">
        <img
          width="100%"
          height="100%"
          src="https://cdn.shopify.com/s/files/1/0683/9065/0074/files/image_693.png?v=1749542729"
          alt="Kitchen with air fryer and food"
        >
      </div>
    </div>
    <!-- 内容区域 -->
  </div>
</div>

{% schema %}
{
  "name": "Anray Banner2",
  "settings": [
    {
      "type": "checkbox",
      "id": "transparent_header",
      "label": "t:sections.global.settings.transparent_header.label",
      "info": "t:sections.global.settings.transparent_header.info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content",
      "info": "t:sections.global.settings.header__colors.info"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.global.settings.color_text.label"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:sections.global.settings.color_background.label"
    },
    {
      "type": "color_background",
      "id": "gradient_background",
      "label": "t:sections.global.settings.gradient_background.label"
    },
    {
      "type": "color",
      "id": "color_button_text",
      "label": "t:sections.global.settings.color_button_text.label"
    },
    {
      "type": "color",
      "id": "color_button_background",
      "label": "t:sections.global.settings.color_button_background.label"
    },
    {
      "type": "color_background",
      "id": "color_button_gradient",
      "label": "t:sections.global.settings.color_button_gradient.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 72
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.global.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
    }
  ],
  "presets": [
    {
      "name": "Anray Banner2"
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
