<style>
    #shopify-section-{{ section.id }} {
      --section-padding-top: {{ section.settings.padding_top }}px;
      --section-padding-bottom: {{ section.settings.padding_bottom }}px;
      {%- render 'section-variables', section: section -%};
    }

    .anray-gallery {
      display: flex;
      flex-direction: column;
      gap: 10px; /* 图片之间的间距 */
  }

  .anray-row {
      display: flex;
      gap: 10px; /* 同行图片之间的间距 */
  }

  .anray-col {
      flex: 1;
      aspect-ratio: 2 / 1; /* 新增：设置宽高比为2:1，使容器高度为宽度的一半 */
  }

  .anray-col img {
      width: 100%;
      height: 100%; /* 修改：确保图片填满列高，实现同行等高 */
      display: block;
      object-fit: cover; /* 确保图片不变形并填满容器 */
  }

  .anray-col-full {
      flex-basis: 100%;
      aspect-ratio: 3 / 1; /* 新增：设置宽高比为2:1，使容器高度为宽度的一半 */
  }

  .anray-col-narrow {
      flex-basis: 33.33%; /* 左窄或右窄列的宽度 */
  }

  .anray-col-wide {
      flex-basis: 66.67%; /* 左宽或右宽列的宽度 */
  }
</style>

<div
  class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}"
  {% if section.settings.transparent_header %}
    allow-transparent-header
  {% endif %}
>
  <div class="page-width{% if section.settings.narrow %} page-width--narrow{% endif %} relative">
    <!-- 内容区域 -->
    <div class="anray-gallery">
      <div class="anray-row">
        <div class="anray-col anray-col-full">
          <img
            src="https://cdn.shopify.com/s/files/1/0683/9065/0074/files/pexels-vlada-karpovich-4617250.jpg?v=1745830037"
            alt="Gallery image"
            width="100%"
            height="100%"
          >
        </div>
      </div>
      <div class="anray-row">
        <div class="anray-col anray-col-narrow">
          <img
            src="https://cdn.shopify.com/s/files/1/0683/9065/0074/files/pexels-vlada-karpovich-4617250.jpg?v=1745830037"
            alt="Gallery image"
            width="100%"
            height="100%"
          >
        </div>
        <div class="anray-col anray-col-wide">
          <img
            src="https://cdn.shopify.com/s/files/1/0683/9065/0074/files/pexels-vlada-karpovich-4617250.jpg?v=1745830037"
            alt="Gallery image"
            width="100%"
            height="100%"
          >
        </div>
      </div>
      <div class="anray-row">
        <div class="anray-col anray-col-wide">
          <img
            src="https://cdn.shopify.com/s/files/1/0683/9065/0074/files/pexels-vlada-karpovich-4617250.jpg?v=1745830037"
            alt="Gallery image"
            width="100%"
            height="100%"
          >
        </div>
        <div class="anray-col anray-col-narrow">
          <img
            src="https://cdn.shopify.com/s/files/1/0683/9065/0074/files/pexels-vlada-karpovich-4617250.jpg?v=1745830037"
            alt="Gallery image"
            width="100%"
            height="100%"
          >
        </div>
      </div>
      <div class="anray-row">
        <div class="anray-col anray-col-full">
          <img
            src="https://cdn.shopify.com/s/files/1/0683/9065/0074/files/pexels-vlada-karpovich-4617250.jpg?v=1745830037"
            alt="Gallery image"
            width="100%"
            height="100%"
          >
        </div>
      </div>
    </div>
    <!-- 内容区域 -->
  </div>
</div>

{% schema %}
{
  "name": "anray_product-picturs",
  "settings": [
    {
      "type": "checkbox",
      "id": "transparent_header",
      "label": "t:sections.global.settings.transparent_header.label",
      "info": "t:sections.global.settings.transparent_header.info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content",
      "info": "t:sections.global.settings.header__colors.info"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.global.settings.color_text.label"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:sections.global.settings.color_background.label"
    },
    {
      "type": "color_background",
      "id": "gradient_background",
      "label": "t:sections.global.settings.gradient_background.label"
    },
    {
      "type": "color",
      "id": "color_button_text",
      "label": "t:sections.global.settings.color_button_text.label"
    },
    {
      "type": "color",
      "id": "color_button_background",
      "label": "t:sections.global.settings.color_button_background.label"
    },
    {
      "type": "color_background",
      "id": "color_button_gradient",
      "label": "t:sections.global.settings.color_button_gradient.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 72
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "narrow",
      "label": "t:sections.global.settings.narrow.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
    }
  ],
  "blocks": [
    {
      "type": "slider",
      "name": "Slider",
      "settings": [
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image2"
        },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "Image3"
        },
        {
          "type": "image_picker",
          "id": "image4",
          "label": "Image4"
        },
        {
          "type": "image_picker",
          "id": "image5",
          "label": "Image5"
        },
        {
          "type": "image_picker",
          "id": "image6",
          "label": "Image6"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "anray_product-picturs",
      "blocks": [
        {
          "type": "slider"
        },
        {
          "type": "slider"
        },
        {
          "type": "slider"
        },
        {
          "type": "slider"
        },
        {
          "type": "slider"
        },
        {
          "type": "slider"
        },
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
